.visualiser {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.visualiser__options {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.visualiser__options__option {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.visualiser__buildings {
  display: flex;
  flex-direction: row;
  gap: 32px;
  justify-content: center;
}

.building {
  background-color: #fafafa;
  border: 1px solid black;
  padding: 16px;
  display: flex;
  flex-direction: column-reverse;
  gap: 8px;
}

.floor {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.room {
  width: 64px;
  height: 64px;
  position: relative;
  background-color: #357ec7;
  display: flex;
  flex-direction: column;
}

.room__number {
  font-size: 9px;
  font-weight: 900;
  color: white;
}

.room__step {
  font-size: 16px;
  font-weight: bold;
  color: #164c38;
}

.room--highlighted {
  background-color: #2d9c74;
}

.portal {
  background-color: black;
  border-radius: 3px;
  position: absolute;
  left: 4px;
  right: 4px;
  top: 4px;
  bottom: 4px;
}

.portal--l {
  right: unset;
  width: 6px;
}

.portal--r {
  left: unset;
  width: 6px;
}

.portal--b {
  top: unset;
  height: 6px;
}

.portal--start {
  background-color: orange;
}

.portal--finish {
  background-color: #03dd03;
}

.portal--highlighted {
  background-color: red;
  z-index: 1;
}
